In [1]:
##Dibujo

import pandas as pd

In [6]:
dfAt = pd.DataFrame ({   })
dfAt=dfAt.append({"Dia":1, "Hora":10,"Importe":10, "Tipo":"Consulta"}, ignore_index=True)
dfAt=dfAt.append({"Dia":1, "Hora":10,"Importe":10, "Tipo":"Cirugia"}, ignore_index=True)
dfAt=dfAt.append({"Dia":1, "Hora":11,"Importe":10, "Tipo":"Consulta"}, ignore_index=True)
dfAt=dfAt.append({"Dia":1, "Hora":11,"Importe":10, "Tipo":"Cirugia"}, ignore_index=True)
dfAt=dfAt.append({"Dia":2, "Hora":11,"Importe":10, "Tipo":"Consulta"}, ignore_index=True)
dfAt=dfAt.append({"Dia":2, "Hora":11,"Importe":10, "Tipo":"Cirugia"}, ignore_index=True)
dfAt=dfAt.append({"Dia":1, "Hora":12,"Importe":10, "Tipo":"Consulta"}, ignore_index=True)
dfAt=dfAt.append({"Dia":1, "Hora":12,"Importe":10, "Tipo":"Cirugia"}, ignore_index=True)
dfAt=dfAt.append({"Dia":1, "Hora":12,"Importe":10, "Tipo":"Consulta"}, ignore_index=True)
dfAt=dfAt.append({"Dia":3, "Hora":12,"Importe":10, "Tipo":"Cirugia"}, ignore_index=True)
dfAt=dfAt.append({"Dia":3, "Hora":12,"Importe":10, "Tipo":"Cirugia"}, ignore_index=True)
dfAt=dfAt.append({"Dia":3, "Hora":12,"Importe":10, "Tipo":"Cirugia"}, ignore_index=True)
dfAt=dfAt.append({"Dia":4, "Hora":12,"Importe":10, "Tipo":"Practica"}, ignore_index=True)
dfAt

    Dia  Hora  Importe      Tipo
0   1.0  10.0     10.0  Consulta
1   1.0  10.0     10.0   Cirugia
2   1.0  11.0     10.0  Consulta
3   1.0  11.0     10.0   Cirugia
4   2.0  11.0     10.0  Consulta
5   2.0  11.0     10.0   Cirugia
6   1.0  12.0     10.0  Consulta
7   1.0  12.0     10.0   Cirugia
8   1.0  12.0     10.0  Consulta
9   3.0  12.0     10.0   Cirugia
10  3.0  12.0     10.0   Cirugia
11  3.0  12.0     10.0   Cirugia
12  4.0  12.0     10.0  Practica

In [13]:
#grupo= dfNuevo.groupby(["puesto","departamento"]).count()["Empleado"]    
grupo=dfAt.groupby(["Tipo"]).sum()["Importe"]
grupo

Tipo
Cirugia     70.0
Consulta    50.0
Practica    10.0
Name: Importe, dtype: float64