## DE CERO

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
{
    "id":["C","B","M","P"],
    "Descrip":["Capital","Bsas","Mendoza","Pampa"]
}
)
genti=["Porteño","Bonaerense","Mendocino","Pampeano"]
df=df.assign(gentilicio=genti)
df=df.assign(poblado="si")
df=df.assign(escapital="x")
df

  id  Descrip  gentilicio poblado escapital
0  C  Capital     Porteño      si         x
1  B     Bsas  Bonaerense      si         x
2  M  Mendoza   Mendocino      si         x
3  P    Pampa    Pampeano      si         x

In [3]:
df["escapital"]=df["id"].apply(lambda x : "si" if x == 'C'    else "no")
df.loc[df['id'].isin(['C' , 'B']), 'poblado'] = 'no'  
df

  id  Descrip  gentilicio poblado escapital
0  C  Capital     Porteño      no        si
1  B     Bsas  Bonaerense      no        no
2  M  Mendoza   Mendocino      si        no
3  P    Pampa    Pampeano      si        no

In [4]:
def cambioGentilicio (fila):
    if fila.id == "B" :
        return "Oriundo de "+fila.Descrip
    else:
        return "Oriundo de "+fila.Descrip

df["gentilicio"]=df.apply(cambioGentilicio, axis=1)
df

  id  Descrip          gentilicio poblado escapital
0  C  Capital  Oriundo de Capital      no        si
1  B     Bsas     Oriundo de Bsas      no        no
2  M  Mendoza  Oriundo de Mendoza      si        no
3  P    Pampa    Oriundo de Pampa      si        no

In [9]:
dfciudad = pd.DataFrame(
{
    "idCiudad":[1,2,3,4,5],
    "NombreCiudad":["CABA","MARDEL","PINAMAR","LA PLATA","SAN RAFAEL"],
    "idProvincia":["C","B","B","B","M"]
}
)
dfciudad

   idCiudad NombreCiudad idProvincia
0         1         CABA           C
1         2       MARDEL           B
2         3      PINAMAR           B
3         4     LA PLATA           B
4         5   SAN RAFAEL           M

In [10]:
mix = pd.merge(df,dfciudad, left_on="id", right_on="idProvincia")
mix

,id,Descrip,gentilicio,poblado,escapital,idCiudad,NombreCiudad,idProvincia
0,C,Capital,Oriundo de Capital,no,si,1,CABA,C
1,B,Bsas,Oriundo de Bsas,no,no,2,MARDEL,B
2,B,Bsas,Oriundo de Bsas,no,no,3,PINAMAR,B
3,B,Bsas,Oriundo de Bsas,no,no,4,LA PLATA,B
4,M,Mendoza,Oriundo de Mendoza,si,no,5,SAN RAFAEL,M